ol{
    list-style-type: none;
    list-style-position: inside;
    background-color: brown;
}
li:nth-child(odd){
    color: aqua;
    background-color: black;

}
ul{
    list-style: none;

}
ul>li::before{
    content: '\2664';
}