@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,600;0,700;1,400&family=Noto+Serif:ital@1&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: hsl(229, 24%, 87%, 0.3);
}
.container{
    max-width: 1000px;
    height:570px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    display: flex;
    



}
.main {
    background-image: url(../multi-step-form-main/assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
    padding-left: 20px;
    padding-top: 20px;
    width: 350px;
   
}
.step1, .step2, .step3, .step4{
    display: flex;
    margin-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400, 500, 700;
    color: #fff;
    /* margin-right: 30px; */

    
}
.step1 a{
    color: #fff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
h4{
    opacity: 60%;
    font-size: 10px;
    margin-bottom: 5px;
}
h3{
    font-size: 13px;
}
span{
    border: 1px solid hsl(0, 0%, 100%);
    /* border-radius: 70%; */
    padding: 10px;
    width: 10px;
    height: 10px;
    align-items:center;
    border-radius: 50%;
    font-size: 10px;
    transition: .4s ease;
  
}
span:hover{
    background-color: lightblue;
    cursor: pointer;
    color: #000;

}
h3,h4{
   padding-left: 20px;
}

h3{
    display: block;
}
.thank{
    margin-top: 170px;
}
.image{
    padding-left: 240px;
    margin-bottom: 20px;
}
.h{
    font-family: 'Ubuntu', sans-serif;
    color:rgb(6, 6, 100);
    font-weight: bolder;
    font-size: 25px;
    padding-left: 210px;
    margin-bottom: 20px;
}
.p{
    margin-left: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: rgb(129, 133, 150);
    line-height: 1.5;
    font-weight: 900;
}







 